* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #fcfaf2;
    padding: 20px;
}

.sub-header {
    text-align: center;
    margin: 20px 0;
    background-color: #ecf0f1;
}

#titulo-subtitulo {
    text-align: center;
    margin: 20px 0;
    background-color: #ecf0f1;
}

#titulo-subtitulo h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    margin: 0;
    color: #ecf0f1;
}

#titulo-subtitulo p {
    font-size: 1.2em;
    color: #ecf0f1;
    margin: 10px 0 0;
}

.menu-topo {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.menu-topo li {
    margin: 0 15px;
    padding: 10px 20px;
    font-weight: bold;
    color: #2c3e50;
    cursor: pointer;
}

.menu-topo li:hover {
    background-color: #bdc3c7;
    border-radius: 5px;
}

.menu-topo li a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.6;
    margin: 20px 0;
}

/* Estilo para a seção de descrição */
.descricao {
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.descricao h2 {
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
}

.descricao p {
    font-size: 1.1em;
    margin: 0;
}

#titulo-subtitulo{
    background-color: #16325B;
}


header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #2c3e50;
}

p {
    font-size: 1em;
    margin-top: 15px;

}

.section-causa h2{
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
}

.section-causa, .section-prevencao {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section-img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: center;
}

ul {
    padding-left: 20px;
    list-style: square;
}

.card-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    background: #dee5d4;
    height: 210px;
    border-radius: 8px;
    padding: 15px;
    flex: 1 1 200px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card h3 {
    font-family: "barlow", static;
    font-size: 1.5em;
    color: #496583;
    margin-bottom: 0.5em;
    text-align: center;
}

.card p {
    font-size: 0.9em;
    justify-content: justify;
}

.section-prevencao {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section-prevencao h2 {
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.card-prevencao {
    background: #dee5d4;
    border-radius: 8px;
    padding: 15px;
    width: 30%;
    max-width: 200px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.card-prevencao li {
    font-size: 0.9em;
    color: #2c3e50;
    list-style: none;
}

.card-prevencao:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.section-reducao-risco {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section-reducao-risco h2 {
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    cursor: pointer;
}

.card-reducao {
    flex: 1 1 30%;
    background-color: #dee5d4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.card-reducao:hover {
    transform: scale(1.05);  /* Aumenta o card em 5% */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card-reducao h3 {
    font-family: "barlow", static;
    font-size: 1.2em;
    color: #496583;
    margin-bottom: 10px;
}

.card-reducao p {
    font-size: 1em;
    color: #000000;
}

.section-oque-fazer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.section-oque-fazer h2 {
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
    margin-bottom: 20px;
}

.section-oque-fazer .conteudo {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #000000;
    text-align: center;
}

.section-oque-fazer .imagem-secao {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 10px;
}


.card-container-oque-fazer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}


.card-oque-fazer {
    flex: 1 1 30%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    align-items: flex-start;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.card-oque-fazer:hover {
    transform: scale(1.05);  /* Aumenta o card em 5% */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card-oque-fazer img.card-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card-oque-fazer p {
    display: block;
    font-size: 1em;
    color: #555;
    margin-top: 5px;
    margin-left: 8px;
}

#dirigindo-oq-fazer{
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#dirigindo-oq-fazer h2{
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
    margin-bottom: 20px;
}

#cuidados-pos-enchente, #cuidados-com-agua, #cuidados-alimentos, #cuidado-doencas, #riscos-eletricos, #emergencia, .conteudo {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.conteudo img {
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.348);
    max-width: 100%;
    height: auto; 
    margin: 8px 0;
}


.conteudo {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.conteudo p{
    max-width: 600px;
    
}

h2{
    font-family: "barlow", static;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #8EACCD;
    margin-top: 15px;
}

#cuidados-com-agua{
    text-align: justify;
}

.imagem-container {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

#cuidados-com-agua .botas-amarelas {
    max-width: 100%;   
    height: auto;         
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.348);
}

footer {
    text-align: center;
    padding: 20px;
    background: #8EACCD;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto;
}

.participantes {
    list-style-type: none; 
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.participantes li {
    margin: 0.8em 0.8em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .card, .card-prevencao, .card-reducao, .card-oque-fazer {
        flex: 1 1 100%;
    }

    .conteudo {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .section-causa h2, 
    .section-prevencao h2,
    .section-oque-fazer h2,
    .section-reducao-risco h2,
    #dirigindo-oq-fazer h2,
    #cuidados-pos-enchente h2 {
        font-size: 30px;
    }
}